.famous-section {
    display: flex;
}

.famous-title {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
    width: 338px;
    height: 128px;
    margin-left: 212px;
    margin-top: 192px;
}

.help {
    margin-top: 40px;
    margin-left: 68px;
}

.help_2 {
    margin-top: -15px;
    margin-left: 74px;
}

.make-title {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    width: 257px;
    height: 60px;
    margin-left: 48px;
    margin-top: 47px;
}

.famous-paragraph {
    font-family: 'Mulish';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    width: 284px;
    height: 103px;
    margin-left: 48px;
    margin-top: 10px;
}

.learn-more {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    text-align: center;
    margin-left: 48px;
    margin-top: 15px;
    display: inline-block;
}

.famous--box_site {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 380px;
    height: 480px;
    margin-left: 260px;
    margin-top: 158px;
}

.famous--box_site__2 {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 380px;
    height: 480px;
    margin-top: 192px;
    margin-left: 100px;
}

.famous--box_site__3 {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 380px;
    height: 480px;
    margin-top: 100px;
    margin-left: 100px;
}

.forward-img {
    margin-left: 135px;
    margin-top: -25px;
    display: block;
}